body {
    background-color: rgb(1, 1, 1);
}

#container { position: relative; }
#imageView { border: 1px solid #000; }

.container {
    background-color: rgb(230, 230, 230);
    width: 600px;
    height: 420px;
    margin-left: auto;
    margin-right: auto;
}
.sidebar {
    background-color: rgb(250, 0, 0);
    float: left;
    width: 100px;
    height: 420px;
}

.main {
    background-color: rgb(255, 255, 255);
    float: right;
    width: 500px;
    height: 420px;
}
