body {
    background-color: rgb(220, 220, 220);
    margin:0;
    position: fixed !important;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

.container {
    
        width: 100vw; 
        height: 100vw; /* 100/56.25 = 1.778 */
        background: white;
        max-height: 100vh;
        max-width: 100vh; /* 16/9 = 1.778 */
        margin: auto;
        position: absolute;
        top:0;bottom:0; /* vertical center */
        left:0;right:0; /* horizontal center */
    
}
